{% load socialaccount %}

<h2>EduSA Login</h2>
<form method="post">
  {% csrf_token %}
  {% if error %}
  <p class="text-red-600">{{ error }}</p>
  {% endif %}
  {% if next %}
  <input type="hidden" name="next" value="{{ next }}">
  {% endif %}
  <input name="username" placeholder="Username"><br><br>
  <input name="password" type="password" placeholder="Password"><br><br>
  <button type="submit">Login</button>
</form>

<hr>

<div>
  <a href="{% provider_login_url 'google' next=next %}">Continue with Google</a>
</div>

<p>
  <a href="/accounts/signup/">Create an account</a>
</p>